<template>
    <h1>Тут примеры готовых масок</h1>
    <template v-for="mask in masks">
        <label>
            {{ mask.name }}: {{ mask.mask }}
            <br>
            <input type="text" v-mask="mask.mask">
        </label>
        <br>
        <br>
    </template>

    <h1>В этом примере можно самому поредактировать маску</h1>
    <label>
        Маска (по дефолту маска для номера телефона)
        <br>
        <input type="text" v-model="userMask">
    </label>
    <br>
    <label>
        Начните вводить текст
        <input type="text" v-mask="userMask" v-model="userMaskedValue">
    </label>
    <br>
    <br>

    <h1>В этом примере мы не меняем данные в инпуте</h1>
    <label>
        Введите текст
        <input type="text" v-model="value">
    </label>
    <div>{{ maskedValue }}</div>
    <br>
    <br>
</template>

<script lang="ts" setup>
import {computed, ref} from 'vue';
import Mask from '../utils/Mask';
import {vMask, VMaskConfig} from '../directives/vMask';

interface MaskItem {
    name: string;
    mask: string | string[] | VMaskConfig;
}

const phoneMask = '+7 (ddd) ddd dd dd';

const masks: MaskItem[] = [
    {name: 'Логин', mask: 'L'.repeat(20)},
    {name: 'Телефон', mask: phoneMask},
    {name: 'Банковская карта', mask: ['dddd dddd dddd dddd', 'dddd dddd dddd dddddd']},
    {name: 'Дата 1', mask: 'dd/dd'},
    {name: 'Дата 2', mask: 'dd/dd/dddd'},
    {name: 'Период даты', mask: 'dd/dd/dddd - dd/dd/dddd'},
    {name: 'Короткий пароль', mask: 'd'.repeat(4)},
    {
        name: 'Маска для цвета со своими токенами',
        mask: {
            mask: '#FFFFFF',
            tokens: {
                'F': {pattern: /[0-9a-fA-F]/, transform: v => v.toLocaleUpperCase()},
            }
        }
    },
];

const userMask = ref(phoneMask);
const userMaskedValue = ref('');
const value = ref('');
const maskedValue = computed(() => {
    return Mask.apply(value.value, phoneMask)
})
</script>
