body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #fafafa;
}

input {
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    font-size: 16px;
}
